tbody{
  background-color: var(--cardGray)
}
label{
  color: var(--cardTitle)
}
.bg--cardGray{
  background-color: var(--cardGray)
}
.bg--cardTitle{
  background-color: var(--cardTitle)
}
.cl--cardTitle{
  color: var(--cardTitle)
}